<!-- The Modal 
    Taken from https://www.w3schools.com/howto/howto_css_modal_images.asp
-->
<div id="img-modal-container" class="modal">
    <!-- The Close Button -->
    <span class="close" onclick="closeModal()">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img-modal" onclick="closeModal()" />
</div>

<script>
    var modal = document.getElementById("img-modal-container");
    var modalImg = document.getElementById("img-modal");

    window.openModal = function(event,param) {
        modal.style.display = "block";
        modalImg.src = event.src;
    }

    var images = document.querySelectorAll('img:not(img#img-modal)');
    for(var i=0, len = images.length; i < len; i++){
        param=images[i];
        images[i].addEventListener('click', openModal.bind(event,param));
    }

    function closeModal(){
        modal.style.display = "none";
    }
</script>

{% if site.google_tag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V9F7ZH1J24"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_tag }}');
    </script>
{% endif %}