<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Title -->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ 'public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ 'public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ 'public/css/hydeit.css' | absolute_url }}">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Open+Sans&display=swap" rel="stylesheet">
  
  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'public/icons/apple-touch-icon.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'public/icons/favicon-32x32.png' | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'public/icons/favicon-16x16.png' | absolute_url }}">
  
  <link rel="shortcut icon" href="{{ 'public/icons/favicon.ico' | absolute_url }}">
  <link rel="manifest" href="{{ 'public/icons/site.webmanifest' | absolute_url }}">

  <!-- Atom feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

  <!-- Dyamic styles -->
  <style>
    .sidebar {
      {% if page.image %}
      background-image: url('{{ page.image }}');
      {% else %}
      background-image: url('{{ site.background_image }}');
      {% endif %}
      background-size:cover;
    }
  </style>
</head>